@using EntityLayer
@model Category

<h1>Category Add</h1>


<form asp-action="Create" class="form-group">
    <label class="col-form-label-sm"> Categori Adı Giriniz:</label>
    <input type="text" class="form-control" name="CategoryName" />
    <span asp-validation-for="CategoryName" class="text-danger"></span>
    <br />
    <label class="col-form-label-sm"> Categori Açıklaması Giriniz:</label>
    <input type="text" class="form-control" name="CategoryDescription" />
    <span asp-validation-for="CategoryDescription"></span>
    <br />
    <label class="col-form-label-sm"> Categori Durumu:</label>
    <input type="text" class="form-control" name="CategoryStatus" />
    <br />


    <button class="btn btn-info" type="submit"> Kaydet</button>
</form>
