
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<table class="table table-bordered m-5">
    <thead>
        <td>ID</td>
        <td>Kategori Adı</td>
        <td>Kategori Açıklama</td>
        <td>Kategori Durumu</td>
    </thead>
    <tbody>

    </tbody>
</table>